.botao-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 50%;
    background-color: brown;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.254);
    color: white;
    z-index: 999;
}

.botao-up i{
    position:fixed;
    right: 57px;
    bottom: 45px;
    font-size: 45px;
}

.botao-up:hover{
    background-color: rgb(194, 24, 24);
    color: rgb(200, 200, 200);
}

@media screen and (max-width:768px) {
    .botao-up{
        width: 50px;
        height: 50px;
        right: 20px;
        bottom: 20px;
    }
    .botao-up i{
        right: 24px;
        bottom: 15px;
        font-size: 40px;
    }
}