
.barra_tecnologias{
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0,0, 0.1);
    margin: 0 auto;
}

.barra_tecnologias .barra{
    margin: 15px 0;
}

.barra_tecnologias .barra:first-child{
    margin-top: 0;
}

.barra_tecnologias .barra .informacao span{
    font-size: 17px;
    font-weight: 500;
}

.barra_tecnologias .barra .informacao{
    margin-bottom: 5px;
}

.linha_progresso{
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #f0f0f0;  
    position: relative;
}

.linha_progresso span{
    height: 100%;
    width: 80%;
    background-color: burlywood;
    position: absolute;
    border-radius: 10px;
}

.linha_progresso span::before{
    position:absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0 ;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.linha_progresso span::after{
    position:absolute;
    content: "80%";
    top: -28px
    ;
    right: 0;
    background: #000;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 1px 8px;
}