.slide-container{
    max-width: 850px;
    width: 100%;
    border-radius: 15px;
    height: 350px;
    margin: 0 auto;
}

.p-portfolio1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.p-portfolio2{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: rgba(0, 0, 0, 0.464);
    margin-bottom: 0px;
}

.slide-content{
    margin: 0 20px;
    padding: 30px 0px;
    overflow: hidden;
}

.card{
    display: flex;    
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}

.card-image{
    width: 390px;
    height: 240px;
    padding-right: 40px;
    padding-left: 50px;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.informacoes{
    padding-left: 40px;
    padding-right: 50px;
    width: 40%;
}

.informacoes h3{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.informacoes p{
    font-size: 17px;
    margin-top: -5px;
    color: rgba(0, 0, 0, 0.654);
    margin-bottom: 20px;
}

.informacoes button{
    padding: 0.6em 1em;
    background-color:burlywood;
    color:black ;
    font-weight: 600;
    font-size: 17px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.informacoes button:hover{
    background-color:rgb(224, 166, 90);
}

.seta::before,.seta::after{
    font-size: 30px;
    font-weight: 600;
}

@media screen and (max-width:800px){
    .slide-container{
        height: 400px;
        max-width: 90%;
    }

    .card-image{
        height: 200px;
        width: 280px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .informacoes{
        padding-left: 20px;
        padding-right: 30px;
        width: 40%;
    }
    
    .informacoes h3{
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    
    .informacoes p{
        font-size: 15px;
        margin-top: -5px;
        color: rgba(0, 0, 0, 0.654);
        margin-bottom: 20px;
    }
}

@media screen and (max-width:600px){
    .slide-container{
        height: 450px;
    }

    .card{
        display: flex;    
        flex-direction: column;
    }

    .card-image{
        width: 80%;
        height: 200px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .informacoes{
        padding-left: 10px;
        padding-right: 10px;
        width: 80%;
    }

    .informacoes h3{
        margin-top: 10px;
    }

    .seta::before,.seta::after{
        font-size: 25px;
        font-weight: 600;
    }

}