.h1_sobre{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sobreMim{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1em;
    padding-bottom: 120px;
}

.fotodeperfil2{
    width: 50%;
    border-radius: 80px;
    width:400px;
    height: 240px;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.501);
}

.resumo{
    width: 50%;
    padding: 1em;
    margin-left: 30px;
}

.p_sobre{
    font-weight: 500;
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 15px;
}

.button_sobre{
    padding: 0.6em 1em;
    background-color:burlywood;
    color:black ;
    font-weight: 600;
    font-size: 17px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button_sobre:hover{
    background-color:rgb(224, 166, 90);


}


@media screen and (max-width:1000px){
    .sobreMim{
        max-width: 700px;
   
    }

    .fotodeperfil2{
        width: 50%;
        border-radius: 80px;
        width:400px;
        height: 240px;
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.501);
        margin: 0 auto;
    }

      
    .p_sobre{
        font-weight: 500;
        font-size: 15px;
        color: #7a7a7a;
        margin-bottom: 15px;
    }
    
}

@media screen and (max-width:768px) {

    .h1_sobre{
       
        margin-bottom: 0px;
    }
    

    .sobreMim{
        flex-wrap: wrap;
        
    }

    

    .fotodeperfil2{
        width: 100%;
        border-radius: 80px;
        width:360px;
        height: 220px;
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.501);
        margin: 0 auto;
    }

    .resumo{
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-top: 20px;
    }
    
    .p_sobre{
        font-weight: 500;
        font-size: 16px;
        color: #7a7a7a;
        margin-bottom: 15px;
    }

}