#h1-sobre{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.sobreMim{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.fotodeperfil2{
    width: 50%;
    border-radius: 30px;
    width: 350px;
    height: 350px;
    padding: 1em;
}

.resumo{
    width: 50%;
    padding: 1em;
    margin-left: 50px;
}

#p-sobre{
    font-weight: 500;
    font-size: 17px;
    color: #7a7a7a;
    margin-bottom: 15px;
}

#button-sobre{
    padding: 0.6em 1em;
    background-color:burlywood;
    color:black ;
    font-weight: 600;
    font-size: 17px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    
}

